# Xbox Wireless Controller (Elite 2)
# vendor=045e product=028e version=1130
[name="Xbox Wireless Controller" vendor=045e product=028e]

name    = "xboxElite2"
devname = "xbox"

exclusive = "true"
change_permissions="false"
rumble = "true"
change_permissions="false"

# Face buttons
btn_south = "a",        "A button"
btn_east  = "b",        "B button"
btn_north = "x",        "X button"
btn_west  = "y",        "Y button"

# Shoulder buttons
btn_tl    = "lb",       "Left shoulder (LB)"
btn_tr    = "rb",       "Right shoulder (RB)"

# Analog triggers
abs_z     = "lt_axis",  "Left trigger, analog"
abs_rz    = "rt_axis",  "Right trigger, analog"
btn_tl2   = "lt",       "Left trigger, digital"
btn_tr2   = "rt",       "Right trigger, digital"

# Sticks
abs_x      = "left_x",  "Left stick X"
abs_y      = "left_y",  "Left stick Y"
abs_rx     = "right_x", "Right stick X"
abs_ry     = "right_y", "Right stick Y"
btn_thumbl = "thumbl",  "Left stick click (L3)"
btn_thumbr = "thumbr",  "Right stick click (R3)"

# D-pad (hat)
abs_hat0x  = "leftright", "D-pad left/right"
abs_hat0y  = "updown",    "D-pad up/down"

# Menu buttons
btn_start  = "start",   "Start / Menu"
btn_select = "select",  "Select / View"
btn_mode   = "guide",   "Xbox Guide button"

# Elite paddles (event codes 548-551, unknown to evdev)
key(548)   = "lp1",     "Top left paddle (L4)"
key(549)   = "rp1",     "Top right paddle (R4)"
key(550)   = "lp2",     "Bottom left paddle (L5)"
key(551)   = "rp2",     "Bottom right paddle (R5)"

# Aliases to gamepad profile
alias first            a
alias second           b
alias third            x
alias fourth           y

alias tl               lb
alias tr               rb
alias tl2_axis         lt_axis
alias tr2_axis         rt_axis
alias tl2_axis_btn     lt
alias tr2_axis_btn     rt

alias thumbl           thumbl
alias thumbr           thumbr
alias start            start
alias select           select
alias mode             guide
