// ------------------------------------------------------
// Accessibility / media / brightness
// ------------------------------------------------------

binds {
    Super+Alt+S allow-when-locked=true hotkey-overlay-title=null {
        spawn-sh "pkill orca || exec orca"
    }

    XF86AudioRaiseVolume allow-when-locked=true {
        spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.025+"
    }

    Mod+Plus {
        spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.025+"
    }

    XF86AudioLowerVolume allow-when-locked=true {
        spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.025-"
    }

    Mod+Minus {
        spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.025-"
    }

    XF86AudioMute allow-when-locked=true {
        spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"
    }

    XF86AudioMicMute allow-when-locked=true {
        spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"
    }

    XF86MonBrightnessUp allow-when-locked=true {
        spawn "brightnessctl" "--class=backlight" "set" "+10%"
    }

    Mod+Shift+Plus {
        spawn "brightnessctl" "--class=backlight" "set" "+10%"
    }

    XF86MonBrightnessDown allow-when-locked=true {
        spawn "brightnessctl" "--class=backlight" "set" "10%-"
    }

    Mod+Shift+Minus {
        spawn "brightnessctl" "--class=backlight" "set" "10%-"
    }
}
