// ------------------------------------------------------
// Move columns / windows between columns, monitors, workspaces
// ------------------------------------------------------

binds {
    Mod+Ctrl+Left  { move-column-left-or-to-monitor-left; }
    Mod+Ctrl+Right { move-column-right-or-to-monitor-right; }
    Mod+Ctrl+H     { move-column-left-or-to-monitor-left; }
    Mod+Ctrl+L     { move-column-right-or-to-monitor-right; }

    Mod+Ctrl+Down { move-window-down-or-to-workspace-down; }
    Mod+Ctrl+Up   { move-window-up-or-to-workspace-up; }
    Mod+Ctrl+J    { move-window-down-or-to-workspace-down; }
    Mod+Ctrl+K    { move-window-up-or-to-workspace-up; }

    Mod+Ctrl+Home {
        move-column-to-first
    }

    Mod+Ctrl+End {
        move-column-to-last
    }

    Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
    Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }

    Mod+Shift+Ctrl+Down {
        move-column-to-monitor-down
    }

    Mod+Shift+Ctrl+Up {
        move-column-to-monitor-up
    }

    Mod+Shift+Ctrl+J {
        move-column-to-monitor-down
    }

    Mod+Shift+Ctrl+K {
        move-column-to-monitor-up
    }

    Mod+Ctrl+Page_Down {
        move-column-to-workspace-down
    }

    Mod+Ctrl+Page_Up {
        move-column-to-workspace-up
    }

    Mod+Ctrl+U {
        move-column-to-workspace-down
    }

    Mod+Ctrl+I {
        move-column-to-workspace-up
    }

    Mod+Shift+Page_Down {
        move-workspace-down
    }

    Mod+Shift+Page_Up {
        move-workspace-up
    }

    Mod+Shift+U {
        move-workspace-down
    }

    Mod+Shift+I {
        move-workspace-up
    }
}
