// ------------------------------------------------------
// Screenshots
// ------------------------------------------------------

binds {
    Print {
        screenshot
    }

    Ctrl+Print {
        screenshot-screen
    }

    Alt+Print {
        screenshot-window
    }
}
