// ------------------------------------------------------
// Session / overview / quit / power
// ------------------------------------------------------

binds {
    Mod+O repeat=false {
        toggle-overview
    }

    Mod+Q repeat=false {
        close-window
    }

    Mod+Escape allow-inhibiting=false {
        toggle-keyboard-shortcuts-inhibit
    }

    Mod+Shift+E {
        quit
    }

    Ctrl+Alt+Delete {
        quit
    }

    Mod+Shift+P {
        power-off-monitors
    }
}
