// ==========================================================
// SESSION
// Globale, ikke-visuelle grunninnstillinger som ikke hoerer
// naturlig hjemme under machine/appearance/apps.
// ==========================================================

prefer-no-csd

hotkey-overlay {
    skip-at-startup
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
