# Skriv moltengamepad.cfg
socket_path = "/run/moltengamepad/socket"
  #  Location to create the socket
auto_profile_subdir = "auto/"
  #  automatically load profiles in this subdir. of the profile dir. on start up
make_socket = true
  #  Make a socket to communicate with clients
enumerate = true
  #  Check for already connected devices
num_gamepads = 1
  #  Number of virtual gamepads to create
profile_dir = ""
  #  A directory to check for profiles before the config directories
make_keyboard = true
  #  Make a virtual keyboard/mouse device
mimic_xpad = false
  #  Set virtual devices to match a wired Xbox 360 controller
make_fifo = true
  #  Make a FIFO that processes any commands written to it
gendev_dir = ""
  #  A directory to check for generic driver descriptions before the config directories
rumble = false
  #  Process controller rumble effects
monitor = true
  #  Listen for device connections/disconnections
replace_fifo = true
  #  Before making the FIFO, tell any existing listeners to exit
dpad_as_hat = false
  #  Use a hat to represent the dpad, instead of 4 separate buttons
fifo_path = "/run/moltengamepad/fifo"
  #  Location to create the FIFO
uinput_path = ""
  #  Location of the uinput node

## You can specify profiles to load at start up with lines like the following:
# load profiles from <profile>
