
workspace "1"
workspace "2"
workspace "3"
workspace "4"
workspace "5"
workspace "6"
workspace "7"
workspace "8"
workspace "9"
workspace "discord"

//workspace "browser"
//workspace "cli"
//workspace "messages"
//workspace "settings"
//workspace "misc"
//workspace "calendar"
//workspace "scratch"
spawn-at-startup "mako"
    spawn-at-startup "pasystray"
    spawn-at-startup "blueman-applet"
    spawn-at-startup "protonvpn-app"
    spawn-at-startup "nm-applet"
spawn-at-startup "waybar"
spawn-at-startup "swww-daemon"
spawn-at-startup "swww img wallhaven-vql665.png"

