xboxElite2.start = start
xboxElite2.thumbr = thumbr
xboxElite2.a = first
xboxElite2.b = second
xboxElite2.leftright = (left,right)
xboxElite2.x = third
xboxElite2.lt_axis = tl2_axis+
xboxElite2.rb = tr
xboxElite2.thumbl = thumbl
xboxElite2.y = fourth
xboxElite2.rt_axis = tr2_axis+
xboxElite2.select = select
xboxElite2.updown = (up,down)
xboxElite2.lb = tl
xboxElite2.guide = mode
xboxElite2.(left_x,left_y) = stick(left_x,left_y)
xboxElite2.(right_x,right_y) = stick(right_x,right_y)
#unmapped events: rp2 lp2 rp1 lp1 lt rt
